*{ 
    margin: 0; 
    padding: 0; 
}
html,body{
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
}

.flecha{
    position:fixed;
    right:10px;
    bottom:20px;
    padding: 10px;
    z-index: 5;
}

h2{
    color: #8cc129;
    font-size: 1.4em;
}

h4{
    margin-bottom: 0.7em;
    font-size: 1.2em;
}

.barraSuperior{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: white;   
    position: fixed; 
    z-index: 2;
    border-bottom: 1px solid grey;
}
.logo{
    width: 30%
}
.barraSuperior img {
    height: 100%;
    cursor: pointer;
    width: 40%;
}

.barraSuperior .separador {
    flex-grow: 1;
}


.barraSuperior .acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: .5rem;
}

.barraSuperior .acciones .buscador {
    height: 100%;
    display: flex;
    align-items: center;
}

.barraSuperior .acciones .botonBuscar input {
    border: 0;
    background: url('../img/buscar.png') no-repeat scroll center;
    background-size: contain;
    padding: 1.3rem;
    cursor: pointer;
}



.barraSuperior .ver_carrito{
    padding: 2.1rem 0.9rem;
    color: #dde635;
    cursor: pointer;

}
.barraSuperior .ver_carrito a{
    text-decoration: none;
        color: #dde635;
    width: 100%;
}
.barraSuperior .carrito {
    border: 0;
    background: url('../img/cart-icon.png') no-repeat scroll center;
    background-size: contain;
    padding: 1.3rem;
    cursor: pointer;
    position: relative;
}
.barraSuperior .carrito a{
    text-decoration: none;
}
.barraSuperior .carrito .numero{
    right:1px;
    top:20px;
    border-radius: 5px;
    background: white;
    position: absolute;
}

.barraSuperior .carrito .numero p{    
    color: black;
    font-size: 1.2rem;    
}
.barraSuperior .acciones .buscador input {
    border: 0;
    background: #eeeeee;
    padding: 1rem;
    color: gray;

}

.barraInferior{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 85px;
    position: relative;
    background-color: #8cc129;
    z-index: 1;
}
main{
    height:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    transition: 0.3s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #aad677;
    transition: 0.3s;
}

.active {
    background-color: #3c64b9;
}
.contacto_seccion{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.columna1{
    margin-top: 7.5rem;
    width: 40%;
    margin-left: 10%;
}
.columna1 p{
    padding: 0 0 20px;
    margin: 0;
}
.columna2{
    margin-top: 5rem;
    width: 60%;
    margin-right: 10%;
}

form {
    display: grid;
    padding: 1em;
    border: 1px;
    margin: 2rem auto auto auto;
    position: relative;
    width: 100%;
}
form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}
form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
    cursor: pointer;
}
form button:hover {
    background: #808080;
    transition: 0.3s;

}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}
.mapa{
    width: 80%;
    margin: auto;
}
.mapa h1{
    text-align: center;
    margin: 5rem 0 2rem 0;
}
.mapa .mapa_ubicacion {
    margin-top: 50px;
    width: 80%;
    margin: auto;
    height: 400px;

}
footer{
    border-top: 1px solid grey;
    background-color: #8cc129;
    height: 200px;
    width: 100%;
    display: flex;

}
.footer:after {
    content: "";
    display: table;
    clear: both;
}
footer .info{
    width: 33.33%;
    padding: 20px;
}
footer .info p{
    width: 100%;
    padding-bottom: 1rem;
}
footer .menu{
    float: relative;
    width: 33.33%;
    padding: 15px;
    box-sizing: content-box;
}
footer .menu ul{

}
footer .menu li{
    list-style: none;
    width: 100%;
    text-align: left;
    margin: 0;
}
footer .redes{
    width: 33.33%;
    padding: 1px;
    align-content: center;
}
footer .redes img{

    cursor: pointer;
}
footer .redes a{
    display: flex;
    align-items: center;
}
footer .redes .link{
    margin: 1rem;
    display: flex;
    justify-content: center;
}


@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    input,
    button {
        grid-column: 2 / 3;
    }
}