*{ 
    margin: 0; 
    padding: 0; 
}
html,body{
    font-family: 'Open Sans', sans-serif;

    font-size: 16px;
}

.flecha{
    position:fixed;
    right:10px;
    bottom:20px;
    padding: 10px;
    z-index: 5;
}

h2{
    color: #8cc129;
    font-size: 1.4em;
}

h4{
    margin-bottom: 0.7em;
    font-size: 1.2em;
}

.barraSuperior{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: white;   
    position: fixed; 
    z-index: 2;
    border-bottom: 1px solid grey;
}
.logo{
    width: 30%
}
.barraSuperior img {
    height: 100%;
    cursor: pointer;
    width: 40%;
}

.barraSuperior .separador {
    flex-grow: 1;
}


.barraSuperior .acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: .5rem;
}

.barraSuperior .acciones .buscador {
    height: 100%;
    display: flex;
    align-items: center;
}

.barraSuperior .acciones .botonBuscar input {
    border: 0;
    background: url('../img/buscar.png') no-repeat scroll center;
    background-size: contain;
    padding: 1.3rem;
    cursor: pointer;
}

.barraSuperior .ver_carrito{
    padding: 2.1rem 0.9rem;
    color: #dde635;
    cursor: pointer;

}
.barraSuperior .ver_carrito a{
    text-decoration: none;
        color: #dde635;
    width: 100%;
}
.barraSuperior .carrito {
    border: 0;
    background: url('../img/cart-icon.png') no-repeat scroll center;
    background-size: contain;
    padding: 1.3rem;
    cursor: pointer;
    position: relative;
}
.barraSuperior .carrito a{
    text-decoration: none;
}
.barraSuperior .carrito .numero{
    right:1px;
    top:20px;
    border-radius: 5px;
    background: white;
    position: absolute;
}

.barraSuperior .carrito .numero p{    
    color: black;
    font-size: 1.2rem;    
}
.barraSuperior .acciones .buscador input {
    border: 0;
    background: #eeeeee;
    padding: 1rem;
    color: gray;

}

.barraInferior{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 85px;
    position: relative;
    background-color: #8cc129;
    z-index: 1;
}
.banner{

    position: relative;
    top:85px;
    z-index: 1;
    background-size: unset;
    width: 100%;
}
.banner .imgbanner{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: top;
    display:none;
    
}
.como_comprar_titulo{
    width: 100%;
    position: relative;
    top:85px;
    margin-top: 40px;
}
.como_comprar_titulo p{
    text-align: center;
}
.columnas_como_comprar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 200px;
    margin: 10% 10% 5% 10%;
}
.columnas_como_comprar img{
    height: 100%;
    width: 70%;
}
.columnas_como_comprar .columna {
    width: 23%;
}

.titulo {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
section{
    width: 80%; 
    margin: auto; 
    position: relative;
    top:85px;
    z-index: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    transition: 0.3s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #aad677;
    transition: 0.3s;
}

.active {
    background-color: #3c64b9;
}

.producto{
    text-align: center;
    padding: 1rem;
    background: #ffffff;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.producto img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.producto .nombre {
    font-size: 1rem;
}

.producto .marca {
    font-size: .8rem;
    color: #808080;
    padding: 10px;
}

.producto .precio {
    font-size: 1.5rem;
}
.producto .input_cantidad{
    width: 15%;
    text-align: center;
}
.producto .btn{
    width: 80%;
    display: inline-block;
    margin-top: .5rem;
    text-decoration: none;
    padding: 0.4rem 1rem;
    background-color: #8cc129;
    color: #fff;
    transition: background-color 0.4s ease 0;
}
.producto .btn:hover{
    background-color:#aad677;
    transition: 0.3s;
}
.medios_de_pago{
    width: 100%; 
    margin: auto; 
    position: relative;
    top:85px;
    z-index: 1;
    display: inline-block;
    text-align: center;    
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.columnas_medios_de_pago{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 200px;
    margin: 10% 5% 5% 5%;
}
.columnas_medios_de_pago img{
    height: 30%;
    width: 50%;
}
.columnas_medios_de_pago .columnaMDPago{
    width: 23%;
}
footer{
    border-top: 1px solid grey;
    background-color: #8cc129;
    height: auto;
    width: 100%;
    display: flex;

}
.footer:after {
    content: "";
    display: table;
    clear: both;
}
footer .info{
    width: 33.33%;
    padding: 20px;
}
footer .info p{
    width: 100%;
    padding-bottom: 1rem;
}
footer .menu{
    float: relative;
    width: 33.33%;
    padding: 15px;
    box-sizing: content-box;
}
footer .menu ul{

}
footer .menu li{
    list-style: none;
    width: 100%;
    text-align: left;
    margin: 0;
}
footer .redes{
    width: 33.33%;
    padding: 1px;
    align-content: center;
}
footer .redes img{

    cursor: pointer;
}
footer .redes a{
    display: flex;
    align-items: center;
}
footer .redes .link{
    margin: 1rem;
    display: flex;
    justify-content: center;
}
@media screen and (min-width:30em){
    .producto{
        width: 45%;
        float: left;
        margin: 1em 2.5%;
    }
    .banner{
        background-size: cover;
    }

}
@media screen and (min-width:60em){
    .producto{
        width: 30%;
        margin: 1em 1.5%;
    }
    .banner{
        background-size: cover;
    }
}

@media screen and (max-width:500px){
    .producto{
        width: 30%;
        margin: 1em 1.5%;
    }
    .banner{
        display: none;
    }
} 