*{ 
    margin: 0; /*resetea los margenes por defecto que tienen los elementos html*/
    padding: 0; /*resetea el padding (margen interno) de los elementos html*/
}
html,body{
    font-family: 'Open Sans', sans-serif; /*Tipo de fuente*/
    box-sizing:border-box;
    font-size: 16px;
}

.flecha{
    position:fixed;
    right:10px;
    bottom:20px;
    padding: 10px;
}

h2{
    color: #8cc129;
    font-size: 1.4em;
}

h4{
    margin-bottom: 0.7em;
    font-size: 1.2em;
}

.barraSuperior{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: white;   
    position: fixed; 
    z-index: 2;
    border-bottom: 1px solid grey;
}

.barraSuperior img {
    height: 100%;
    cursor: pointer;
}

.barraSuperior .separador {
    flex-grow: 1;
}


.barraSuperior .acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: .5rem;
}

.barraSuperior .acciones .buscador {
    height: 100%;
    display: flex;
    align-items: center;
}

.barraSuperior .acciones .botonBuscar input {
    border: 0;
    background: url('../img/buscar.png') no-repeat scroll center;
    background-size: contain;
    padding: 1.3rem;
    cursor: pointer;

}

.barraSuperior .ver_carrito{
    padding: 2.1rem 0.9rem;
    color: #dde635;
    cursor: pointer;

}
.barraSuperior .carrito {
    border: 0;
    background: url('../img/cart-icon.png') no-repeat scroll center;
    background-size: contain;
    padding: 1.3rem;
    cursor: pointer;
    position: relative;
}
.barraSuperior .carrito .numero{
    right:1px;
    top:20px;
    border-radius: 5px;
    background: white;
    position: absolute;
}

.barraSuperior .carrito .numero p{    
    color: black;
    font-size: 1.2rem;    
}
.barraSuperior .acciones .buscador input {
    border: 0;
    background: #eeeeee;
    padding: 1rem;
    color: gray;
    
}

.barraInferior{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 85px;
    position: relative;
    background-color: #8cc129;
    z-index: 1;
}
.banner{
    background-image: url('../img/banner2.jpg');
    width: 100%;
    height: 280px;
    position: relative;
    top:85px;
    z-index: 1;
    background-size: unset;
}

section{
    width: 80%; /*ancho expresado en porcentaje*/
    margin: auto; /*la propiedad margin con el valor auto, centra verticalmente*/
    position: relative;
    top:85px;
    z-index: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    transition: 0.3s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

.active {
    background-color: #3c64b9;
}




.titulo {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.producto{
    text-align: center;
    padding: 1rem;
    background: #ffffff;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.producto img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.producto .nombre {
    font-size: 1rem;
}

.producto .marca {
    font-size: .8rem;
    color: #808080;
    padding: 10px;
}

.producto .precio {
    font-size: 1.5rem;
}

.producto .btn{
    display: inline-block;
    margin-top: .5rem;
    text-decoration: none;
    padding: 0.4rem 1rem;
    background-color: #8cc129;
    color: #fff;
    transition: background-color 0.4s ease 0;
}
.producto .btn:hover{
    background-color:#aad677;
}

@media screen and (min-width:30em){
    .producto{
        width: 45%;
        float: left;
        margin: 1em 2.5%;
    }
    .banner{
        background-size: cover;
    }

}
@media screen and (min-width:60em){
    .producto{
        width: 30%;
        margin: 1em 1.5%;
    }
        .banner{
            background-size: cover;
    }
}

 @media screen and (max-width:500px){
    .producto{
        width: 30%;
        margin: 1em 1.5%;
    }
        .banner{
            display: none;
        }
} 